.swiper {
    width: 99vw;
    height: 60vh;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
     object-position: 50% 20%; 
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }