.caixa{
    background-color: #d428b8;
}

.titulo{
   color: rgba(0, 0, 0, 0.875) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(3, 2, 3) !important;
    background-color: #99039e;
    color: rgb(0, 0, 0) !important;
}

.postagens{
    background-color: rgb(146, 4, 165);
}