.imagem2{
    background-image: url(https://i.pinimg.com/originals/9c/37/f2/9c37f29c0758f645ce5e94ffc5f1a353.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}